@model IEnumerable<final1.Models.Products>

@{
    ViewData["Title"] = "Index";
}
<head>
    <title>@ViewData["Title"] - La'nails</title>
    <link rel="stylesheet" href="~/css/ProcuctsIndex.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
</head>

<div class="container">
    <h1 class="heading">Products List</h1>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <div class="panel-head">
            <table class="table">
                <thead>
                    <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl1)
            </th>
           
            <th></th>
        </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model) {
                    <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl1)
            </td>
            
            <td>
                            <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a> |
                            <a asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-card-list"></i></a> |
                            <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash3"></i></a>
            </td>
        </tr>
}
                </tbody>
            </table>
    </div>
</div>