@model final1.Models.Cart

<head>
    <title>@ViewData["Title"] - Order Complete</title>
    <link rel="stylesheet" href="~/css/Cart.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
</head>

<div class="container">
<h1 class="heading">MY CART</h1>

@if (Model.CartItems.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>PRODUCT</th>
                <th>PRICE</th>
                <th>QUANTITY</th>
                <th>TOTAL</th>
                <th>REMOVE</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                var PdTotal = item.Product.Price * item.Quantity;
                <tr>
                    <td>
                        <a class="a-cleanup" asp-controller="Shop" asp-action="Details" asp-route-id="@item.Id"><img src="~/products/@item.Product.ImageUrl1" style="height: 4em"></a>
                    </td>
                    <td>
                        <a class="a-cleanup" asp-controller="Shop" asp-action="Details" asp-route-id="@item.Id">@item.Product.Name</a>
                    </td>
                    <td>
                        <a class="a-cleanup" asp-controller="Shop" asp-action="Details" asp-route-id="@item.Id">฿@item.Product.Price</a>
                    </td>
                    
                    <td class="td">
                        <a asp-controller="Cart" asp-action="ReduceQuantity" asp-route-id="@item.Product.Id"><i class="bi bi-dash-circle"></i>
                        </a>
                            <span class="badge">@item.Quantity</span>
                            <a asp-controller="Cart" asp-action="IncreaseQuantity" asp-route-id="@item.Product.Id"><i class="bi bi-plus-circle"></i>
                        </a>
                    </td>
                    <td>
                        @PdTotal.ToString("c")
                    </td>
                    <td>
                        <a asp-controller="Cart" asp-action="RemoveFromCart" asp-route-id="@item.Product.Id" class="text-danger"><i class="bi bi-bag-x"></i></a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                    <td></td>
                    <td></td>
                <td>
                    <strong>SUBTOTAL</strong>
                </td>
                <td>
                    <strong>฿@Model?.GetCartTotal()</strong>
                </td>
            </tr>
        </tfoot>
    </table>
        <div class="btn-box">
            <a asp-controller="Cart" asp-action="ClearCart"><div class="btn btn-red">CLEAR CART</div> </a>
        <a  asp-controller="Order" asp-action="Checkout"><div class="btn btn-green">CHECKOUT </div> </a>
        
    </div>
}
else
{
    <h3 class="text-center">CART IS EMPTY</h3>
    }

</div>